:root {
  --color-primary: #fd8111;
  --color-primary-shade: #f17508;
  --color-primary-tint: #e79044;
  --color-primary-light: #eeb079;

  --color-secondary: #72e395;
  --color-secondary-shade: #5fcf83;
  --color-secondary-tint: #9aecb4;
  --color-secondary-light: #d6fae1;
  --color-secondary-text: #c5c2b8;

  --color-dark: #20252c;
  --color-dark-black: #191e23;
  --color-dark-shade: #1c2127;
  --color-dark-tint: #363b41;
  --color-dark-light: #63666b;

  --font-color: #fff;
}
